<!DOCTYPE html>

<html>

<head>
    <title>ABOUT :/: Scheduly</title>
</head>

<body>
    <h1 style="text-align: center">A B O U T</h1>
        <p style="text-align: center">
        <strong><em>Scheduly</em></strong> is a scheduling application where users can
        create simple tasks and events at ease without a complicated outlook on their
        daily lives. A social media application where users can interact and plan
        accordingly for hangouts, interviews, occasional events, and much more!
        </p>
        <p style="text-align: center">
        <em>Scheduly</em> aims to provide better time management and social update
        support for users who should be up-to-date with their mutual friends, or
        accomodate their tasks and productivity under an organized timeline.
        </p>
        <p style="text-align: center">
        There are various features to be implemented for&nbsp;<em>Scheduly</em>, so
        that users are provided better and accessible resources when it comes to
        navigating, managing, and reinforcing their daily lives.
        </p>
        <h1 style="text-align: center">T E A M</h1>
        <h2 style="text-align: center">F O U N D E R</h2>
        <p style="text-align: center">
            <em><strong>Tommy Nguyen</strong></em> is currently a senior college 
            undergraduate pursuing a Bachelors of Science in Computer Engineering, 
            including a minor in Computer Science upon its creation.
        </p>
        <p style="text-align: center">
            He envisioned this project as a struggle to make amends with past mutual
            friendship. When it comes to <em>Scheduly</em>, it is an endeavor of such
            assistance for others who were not only willing to reconnect with their peers,
            but to be more active in their schedules following procrastination.
        </p>
        <p style="text-align: center">
            He is looking forward to implement any needed changes with his team for the
            website to thrive, but also reach the right users who need significant
            improvements in life.
        </p>
        <h2 style="text-align: center">C O - F O U N D E R S</h2>
        <p style="text-align: center">
            <em><strong>Sean Nguyen</strong></em> is a transfer junior undergraduate pursuing 
            a Computer Engineering major. His responsibilities behind <em>Scheduly</em> attributed 
            to programming the login system, blueprinting the website concept, and side-managing the
            project with his developing skills.
        </p>
        <p style="text-align: center">
            <em><strong>Stephany Murillo Munoz</strong></em> is a transfer graduate who
            currently pursues a Computer Science major. Her contributions within the
            project involve the creation of the website, and managing the database where
            the system secures and displays all necessary data to the users.
        </p>
</body>

</html>