{% load static %}
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME :: Scheduly</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% comment %} {% if user.is_authenticated %}
      <h3>Hello {{ fname }}</h3>
      <h4>You have successfully logged in.</h4>
      <button type="submit"><a href="/signout">Sign Out</a></button>
    {% else %}
        
    {% endif %} {% endcomment %}
    <script>
      const isAuth={{user.is_authenticated|default:"false"|lower}};
      if (!isAuth) {
        window.location.href="login";
      }
    </script>
  </body>
</html>