<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log Into Scheduly</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
  </head>
  <body>

    <h3>Login With Your Account</h3>

    <form action="/signin/" method="POST">
    {% csrf_token %}
      <label for="">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter You Username (only letters and numbers)" required>
      <br>
      <label for="">Password</label>
      <input type="password" id="pass1" name="pass1" placeholder="Enter Your Password" required>
      <br>

      <button type="submit">Sign In</button>
    </form>
    <script src="" async defer></script>
  </body>
</html>