@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800");
/*
       
       
       
 ______
/_____/
 ,ggggggggggg,     _,gggggg,_        _,gggggg,_      ,ggggggggggggggg
dP"""88""""""Y8, ,d8P""d8P"Y8b,    ,d8P""d8P"Y8b,   dP""""""88"""""""
Yb,  88      `8b,d8'   Y8   "8b,dP,d8'   Y8   "8b,dPYb,_    88       
 `"  88      ,8Pd8'    `Ybaaad88P'd8'    `Ybaaad88P' `""    88       
     88aaaad8P" 8P       `""""Y8  8P       `""""Y8          88       
     88""""Yb,  8b            d8  8b            d8          88       
     88     "8b Y8,          ,8P  Y8,          ,8P          88       
     88      `8i`Y8,        ,8P'  `Y8,        ,8P'    gg,   88       
     88       Yb,`Y8b,,__,,d8P'    `Y8b,,__,,d8P'      "Yb,,8P       
     88        Y8  `"Y8888P"'        `"Y8888P"'          "Y8P'       
*/
:root{
    --LG:linear-gradient(65deg, 
    rgb(27, 58, 125) 5%,
    rgb(16, 41, 96) 25%, 
    rgb(18, 29, 79) 50%,
    rgb(53, 21, 114) 75%,
    rgb(61, 21, 134) 95%);
  --IPS:25%; --GS:100%;
  --TIC:rgb(152, 199, 255);
  --GLOW: 0px 0px 5px var(--TIC),
        0px 0px 10px var(--TIC),
        0px 0px 15px var(--TIC);
  
  --G1_C:87,133,233;
  --G2_C:68,115,217;
  --G3_C:88,109,203;
  --G4_C:131,87,213;
  --G5_C:128,83,212;
  --GI_C:54,132,221;
}
*,*::before,*::after{
    margin:0;
    box-sizing:border-box;
    text-align:center;
    position:relative;
}
header{
    position: fixed;
    background: transparent;
    background-image: linear-gradient(180deg, rgb(38 46 109) 0% 35%, rgb(58 46 121 / 0%) 90%);
    z-index:3;
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.BG{
    background: var(--LG);
    background-size: 400% 400%;
    animation: gradience 20s ease infinite;
    width: 100%;
    height: 100vh;
    padding: 0;
    position: fixed;
    overflow: hidden;
}

/*
       
       
       
 ______
/_____/
88888888888 8888888888 Y88b   d88P 88888888888 
    888     888         Y88b d88P      888     
    888     888          Y88o88P       888     
    888     8888888       Y888P        888     
    888     888           d888b        888     
    888     888          d88888b       888     
    888     888         d88P Y88b      888     
    888     8888888888 d88P   Y88b     888     
*/
h1,h2,h3,p,.TITLE_1,.TITLE_2,.SUBTITLE{
    color: white; 
    font-family: "michroma";
    text-shadow: 0px 0px 5px rgba(0,0,0,.95);
}
h1{font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 13px;
    font-family: "manrope";
    padding-bottom: 20px;
}
h2{
    font-family: "manrope";
}
h3{
    text-transform: uppercase;
    font-size: 12.5px;}
p{
    font-family: "figtree";
    font-size: 20px;
}
.TITLE_1,.TITLE_2{
    font-size: 35px;
    letter-spacing: 10px;
}
.SUBTITLE{
    font-family: "figtree";
    font-size: 25px;
}

/* 
       
       
       
 ______
/_____/
8888888 888b    888 8888888b.  888     888 88888888888 
  888   8888b   888 888   Y88b 888     888     888     
  888   88888b  888 888    888 888     888     888     
  888   888Y88b 888 888   d88P 888     888     888     
  888   888 Y88b888 8888888P"  888     888     888     
  888   888  Y88888 888        888     888     888     
  888   888   Y8888 888        Y88b. .d88P     888     
8888888 888    Y888 888         "Y88888P"      888     
*/
.PREV,.NEXT,.DOT,button.CLICK,a,input.LONG{
    transition:0.2s cubic-bezier(.12,.57,.48,1);
}
.PREV,.NEXT{
    cursor: pointer;
    color: rgb(0 0 0 / 20%);
    font-size: 40px;
    position: absolute;
    top: 50%;
    width: auto;
    user-select: none;
    padding: 5px;
}
.NEXT{
    right: 10px;
}
.DOTS{
    position: absolute;
    width: 100%;
    bottom: 5px;
}
.DOT{
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 3px;
    background-color: rgb(0 0 0 / 20%);
    border-radius: 50%;
    display: inline-block;
}
.DOT:hover{
    height: 22px;
    width: 22px;
    background-color: var(--TIC);
    box-shadow: var(--GLOW);
}
.PREV:hover,.NEXT:hover{
    color: var(--TIC);
    font-size: 42px;
    text-shadow: var(--GLOW);
}
input.RADIO{
    display: none;
    pointer-events: none;
}
a:link,a:visited{
    font-family:'figtree';
    color: rgba(255,255,255,0.25);
    text-decoration:none;
}
a:hover{
    color:var(--TIC);
    text-shadow:0px 0px 5px var(--TIC), 
                0px 0px 10px var(--TIC),
                0px 0px 15px var(--TIC);
    text-decoration: underline;
}

/* 
       
       
       
 ______
/_____/
 .d8888b.   .d88888b.  888b    888 88888888888     d8888 8888888 888b    888 8888888888 8888888b.  
d88P  Y88b d88P" "Y88b 8888b   888     888        d88888   888   8888b   888 888        888   Y88b 
888    888 888     888 88888b  888     888       d88P888   888   88888b  888 888        888    888 
888        888     888 888Y88b 888     888      d88P 888   888   888Y88b 888 8888888    888   d88P 
888        888     888 888 Y88b888     888     d88P  888   888   888 Y88b888 888        8888888P"  
888    888 888     888 888  Y88888     888    d88P   888   888   888  Y88888 888        888 T88b   
Y88b  d88P Y88b. .d88P 888   Y8888     888   d8888888888   888   888   Y8888 888        888  T88b  
 "Y8888P"   "Y88888P"  888    Y888     888  d88P     888 8888888 888    Y888 8888888888 888   T88b 
 */
.HEADING{
    margin: 30% 0;
}
.SCROLLER{
    position: absolute;
}
.SECTION{
    margin: 0 20px 4rem 20px;
    padding: 25px 5%;
    background: transparent;
    background-image: linear-gradient(45deg, 
                rgb(0 0 0 / 10%) 0%,
                rgb(29 57 121 / 48%) 25% 50%,
                rgb(0 0 0 / 10%) 100%);
    border-radius: 25px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 50%);
}
.SMALL_SECT{
    margin: 0 20px 2rem 20px;
    padding: 25px 5%;
    background: transparent;
    background-image: linear-gradient(45deg, 
                rgb(0 0 0 / 10%) 0%,
                rgb(68 37 148 / 48%) 25% 50%,
                rgb(0 0 0 / 10%) 100%);
    border-radius: 25px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 50%);
}
.SLIDES{
    margin-top: 25px;
    padding: 10px;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
    background: transparent;
    background-color: rgb(0 0 0 / 4%);
    border-radius: 20px;
}
.SLIDE{
    flex: 1 0 100%;
    margin-right: 15px;
    padding: 15px;
    padding-top: 0;
}
.PARRY{
    width: 60%;
    padding: 15px;
    padding-top: 0;
    text-align: left;
}
.CAPTION p{
    text-align: left;
    font-size: 17px;
}

/* @media only screen and (max-width:720px) {
    .SECTION_1,.SECTION_2{
        
    }
}
@media only screen and (min-width:720px) {
    .SECTION_1,.SECTION_2{
        
    }
} */

/* 
       
       
       
 ______
/_____/
 .d8888b.  8888888b.         d8888 8888888b. 8888888 8888888888 888b    888 88888888888 
d88P  Y88b 888   Y88b       d88888 888  "Y88b  888   888        8888b   888     888     
888    888 888    888      d88P888 888    888  888   888        88888b  888     888     
888        888   d88P     d88P 888 888    888  888   8888888    888Y88b 888     888     
888  88888 8888888P"     d88P  888 888    888  888   888        888 Y88b888     888     
888    888 888 T88b     d88P   888 888    888  888   888        888  Y88888     888     
Y88b  d88P 888  T88b   d8888888888 888  .d88P  888   888        888   Y8888     888     
 "Y8888P88 888   T88b d88P     888 8888888P" 8888888 8888888888 888    Y888     888     
 */
.GRAD_CONT{
    filter:url(#goo)
    blur(75px);
    width:100%;
    height:100%;
    position:absolute;
}
.GRAD{
    position: absolute;
    mix-blend-mode: hard-light;
    width:var(--GS);
    height:var(--GS);
    top:calc(50% - var(--GS) / 2);
    left:calc(50% - var(--GS) / 2);
    transform-origin: center center;
    opacity:var(--op);
}
.GRAD.G1{
    background:radial-gradient(circle at center,
        rgba(var(--G1_C),0.9) 0%,
        rgba(var(--G1_C),0) 50%) no-repeat;
    animation:moveV 30s ease infinite;
}
.GRAD.G2{
    background:radial-gradient(circle at center,
        rgba(var(--G2_C),0.7) 0%,
        rgba(var(--G2_C),0) 52%) no-repeat;
    transform-origin:calc(50% - 400px);
    animation:circ 20s reverse infinite;
}
.GRAD.G3{
    background:radial-gradient(circle at center,
        rgba(var(--G3_C),0.6) 0%,
        rgba(var(--G3_C),0) 54%) no-repeat;
    top:calc(50% - var(--GS) / 2 + 200px);
    left:calc(50% - var(--GS) / 2 - 500px);
    transform-origin:calc(50% + 400px);
    animation:circ 40s linear infinite;
}
.GRAD.G4{
    background:radial-gradient(circle at center,
        rgba(var(--G4_C),0.7) 0%,
        rgba(var(--G4_C),0) 56%) no-repeat;
    transform-origin:calc(50% - 200px);
    animation:moveH 40s reverse infinite;
}
.GRAD.G5{
    background:radial-gradient(circle at center,
        rgba(var(--G5_C),0.8) 0%,
        rgba(var(--G5_C),0) 58%) no-repeat;
    top:calc(50% - var(--GS));
    left:calc(50% - var(--GS));
    transform-origin:calc(50% - 800px) calc(50% - 200px);
    animation:circ 20s ease infinite;
}
.GRAD.I{
    background:radial-gradient(circle at center,
        rgba(var(--GI_C),0.9) 0%,
        rgba(var(--GI_C),0) 60%) no-repeat;
    width:100%; height:100%;
    top:-50%; left:-50%;
}

@keyframes gradience{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}}
@keyframes moveV{
    0%{transform:translateY(-50%);}
    50%{transform:translateY(50%);}
    100%{transform:translateY(-50%);}}
@keyframes moveH{
    0%{transform:translateX(-50%) translateY(-10%);}
    50%{transform:translateX(50%) translateY(10%);}
    100%{transform:translateX(-50%) translateY(-10%);}}
@keyframes circ{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(360deg);}}

/* 
       
       
       
 ______
/_____/
8888888888 .d88888b.  8888888b.  888b     d888 
888       d88P" "Y88b 888   Y88b 8888b   d8888 
888       888     888 888    888 88888b.d88888 
8888888   888     888 888   d88P 888Y88888P888 
888       888     888 8888888P"  888 Y888P 888 
888       888     888 888 T88b   888  Y8P  888 
888       Y88b. .d88P 888  T88b  888   "   888 
888        "Y88888P"  888   T88b 888       888 
*/
.FORM{
    position: absolute;
    margin-top: 100px;
    width: 40%;
    right: 0;
}
.TXT_INPUT{
    color:rgba(255,255,255,0.25);
    font-family:"kanit";
    font-size:20px;
    padding-top:15px;
    padding-bottom:0px;
    animation:fadeIn 1.5s both var(--i), 
            toggleEv 1.5s both var(--i);
    text-shadow:0px 0px 5px rgba(0,0,0,0.95);
}
.LBL{
    text-align: left;
    font-size:12.5px;
    text-transform:uppercase;
    letter-spacing:2px;
    transition:0.2s cubic-bezier(.12,.57,.48,1);
}
button.CLICK{
    width:150px;
    height:2rem;
    font-family:"kanit";
    font-size:20px;
    letter-spacing:5px;
    color:rgba(255,255,255,0.25);
    background:transparent;
    background-image:linear-gradient(75deg,
        rgba(20,27,61,0.494),
        rgba(80,35,114,0.12)
    ); border:none; border-radius:10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.95);
    opacity:0.85; outline:none;
}
button.CLICK:hover{
    background-image:none;
    background-color:var(--TIC); color:black;
    box-shadow:0 0 5px var(--TIC), 0 0 10px var(--TIC), 
               0 0 25px var(--TIC); opacity:1;
}
input.LONG{
    text-align: left;
    width: 100%;
    padding: 4px 0px 4px 10px;
    font-family: "figtree";
    font-size: 1em;
    outline: none;
    border: 1.75px solid rgba(255,255,255,0.25);
    border-radius: 10px;
    line-height: 15px;
    background: transparent;
    background-image: linear-gradient(81deg,
    rgba(20,27,61,0.494),
    rgba(80,35,114,0.12));
    box-shadow: 0px 0px 5px rgba(0,0,0,0.95);
}
input.LONG:focus,
input.LONG:valid{
    color:var(--TIC);
    border:2px solid var(--TIC);
    text-shadow:0px 0px 10px var(--TIC);
    box-shadow: 0px 0px 10px var(--TIC);
}
input.LONG:focus+.LBL,
input.LONG:valid+.LBL{
    color:var(--TIC);
    text-shadow:0px 0px 10px var(--TIC);
    letter-spacing: 5px;
}