@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*      e    e           e      888 888b    | 
       d8b  d8b         d8b     888 |Y88b   | 
      d888bdY88b       /Y88b    888 | Y88b  | 
     / Y88Y Y888b     /  Y88b   888 |  Y88b | 
    /   YY   Y888b   /____Y88b  888 |   Y88b| 
   /          Y888b /      Y88b 888 |    Y888  */
:root {
  --TextGrad: linear_gradient(65deg,
    rgb(243, 233, 255),
    rgb(233, 243, 255));
  --TextboxWidth: 75%;
  --SectionSpacing: 200px;
}

/* d8888b. d888888b .d8888. d8888b. db       .d8b.  db    db            
   88  `8D   `88'   88'  YP 88  `8D 88      d8' `8b `8b  d8'            
   88   88    88    `8bo.   88oodD' 88      88ooo88  `8bd8'             
   88   88    88      `Y8b. 88~~~   88      88~~~88    88               
   88  .8D   .88.   db   8D 88      88booo. 88   88    88               
   Y8888D' Y888888P `8888Y' 88      Y88888P YP   YP    YP    */
body {
  background: linear-gradient(65deg, 
    rgb(46, 84, 167) 5%,
    rgb(19, 51, 119) 25%, 
    rgb(32, 48, 116) 50%,
    rgb(56, 17, 128) 75%,
    rgb(82, 33, 173) 95%);
  text-align: center;
  color: white;
  animation: scroller 4s;
  animation-fill-mode: forwards;
}
h2 {
  margin: 0;
  padding: 0;
  font-family: "michroma";
  font-size: 35px;
  animation: appear, zoomU both;
  animation-timeline: view(70% 5%);
}
h3 {
  text-align: center;
  font-family: "figtree";
  font-size: 25px;
}

/*         888       d8b                   888             
           888       Y8P                   888             
           888                             888             
   .d88b.  88888b.  8888  .d88b.   .d8888b 888888 .d8888b  
  d88""88b 888 "88b "888 d8P  Y8b d88P"    888    88K      
  888  888 888  888  888 88888888 888      888    "Y8888b. 
  Y88..88P 888 d88P  888 Y8b.     Y88b.    Y88b.       X88 
   "Y88P"  88888P"   888  "Y8888   "Y8888P  "Y888  88888P' 
                     888                                   
                    d88P                                   
                  888P"  */
.head{
  position:relative;
  padding-top:300px;
  width:100%;
  min-height:400px;
  text-align:center;
  color:white;
}
.text1,.text2{
  margin: 0;
  padding: 0;
  font-family: "michroma";
  font-size: 45px;
  text-wrap: nowrap;
}
.text1{animation:appear 1s,zoomL 1s forwards cubic-bezier(.7,.01,.37,.97);}
.text2{animation:appear 1s,zoomR 1s forwards cubic-bezier(.7,.01,.37,.97);}
.textbox{
  position:relative;
  width:var(--TextboxWidth);
  left:calc((100% - var(--TextboxWidth))/2);
}
.subt{
  font-family:"plus jakarta sans";
  font-size:30px;
  font-weight:lighter;
}
.section{
  padding-top:calc(var(--SectionSpacing)/2);
  padding-bottom:calc(var(--SectionSpacing)/2);
}
.sub-section{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
.pf-header{
  padding: 0;
  font-family: "michroma";
  font-size: 20px;
}
._p{
  position: relative;
  height: 30px;
  text-align: center;
  font-family: "plus jakarta sans";
  font-weight: lighter;
  font-size: 20px;
  animation: appear, zoomU both;
  animation-timeline: view(70% 5%);
}

/*                                ,...                                                 
`7MMF' `YMM'                    .d' ""                                                 
  MM   .M'                      dM`                                                    
  MM .d"     .gP"Ya `7M'   `MF'mMMmm`7Mb,od8 ,6"Yb.  `7MMpMMMb.pMMMb.  .gP"Ya  ,pP"Ybd 
  MMMMM.    ,M'   Yb  VA   ,V   MM    MM' "'8)   MM    MM    MM    MM ,M'   Yb 8I   `" 
  MM  VMA   8M""""""   VA ,V    MM    MM     ,pm9MM    MM    MM    MM 8M"""""" `YMMMa. 
  MM   `MM. YM.    ,    VVV     MM    MM    8M   MM    MM    MM    MM YM.    , L.   I8 
.JMML.   MMb.`Mbmmd'    ,V    .JMML..JMML.  `Moo9^Yo..JMML  JMML  JMML.`Mbmmd' M9mmmP' 
                       ,V                                                              
                    OOb"  */
@keyframes zoomR{
  from{margin-left:-100%;}
  to{margin-left:0;}
}
@keyframes zoomL{
  from{margin-left:100%;}
  to{margin-left:0;}
}
@keyframes zoomU{
  from{transform:translateY(100px);}
  to{transform:translateY(0);}
}
@keyframes appear{
  from{opacity:0; filter:blur(30px);}
  to{opacity:1; filter:blur(0);}
}
@keyframes scroller{
  0%,99%{overflow-y: hidden;}
  100%{overflow-y: scroll;}
}